@import url("https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  max-width: 80px;
}

.menu__nav {
  position: relative;
  display: flex;
}

.menu__list {
  list-style: none;
}

.menu__link {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textbox {
  position: relative;
  max-width: 600px;
}

.content .textbox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .textbox h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}

.content .textbox p {
  color: #333;
}

.content .textbox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
}

.content .imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}

.content .imgBox img {
  max-width: 340px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.thumb li img {
  max-width: 60px;
}

.header-sci {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-sci li {
  list-style: none;
}

.header-sci li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right 800px);
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 100vh;
  flex-direction: column;
  background: #ede7f6;
}

.footer-block {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.sec {
  margin-right: 30px;
}

.sec.aboutus {
  width: 40%;
}

.footer-title {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer-title:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

.footer-subtitle {
  color: #999;
}

.footer-sci {
  margin: 20px;
  display: flex;
}

.footer-sci li {
  list-style: none;
}

.footer-sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.footer-sci li a:hover {
  background: #f00;
}

.fa {
  color: #fff;
  font-size: 20px;
}

.quicLinks {
  width: 25%;
}

.quicLinks ul li {
  list-style: none;
}

.quicLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quicLinks ul li a:hover {
  color: #fff;
}

.contact {
  width: calc(35%  -  60px);
  margin-right: 0 !important;
}

.info {
  position: relative;
}

.info li {
  display: flex;
  margin-bottom: 16px;
  list-style: none;
}

.info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
}

.info li span {
  color: #999;
}

.info li a {
  text-decoration: none;
  color: #999;
}

.info li a:hover {
  color: #fff;
}

.copyrightText {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 991px) {
  .footer-block {
    padding: 40px;
  }
  .footer-container {
    flex-direction: column;
  }
  .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
