.footer__container
  display: flex
  justify-content: flex-end
  align-items: center
  background: #111
  justify-content: space-between
  padding: 50px 50px
.about
  margin-right: 50px
  width: 40%
.about__title
  position: relative
  color: #fff
  font-weight: 500
  margin-bottom: 15px
  display: inline-block
.about__title:before
  content: ''
  position: absolute
  bottom: -5px
  left: 0
  width: 50px
  height: 2px
  background: #f00
.about__subtitle
  color: #999
  margin-bottom: 20px

.about__sci
  display: flex

  margin: auto

.about__sci a
  display: inline-block
  width: 40px
  height: 40px
  background: #222
  display: flex
  justify-content: center
  align-items: center
  margin-right: 10px
  text-decoration: none
  border-radius: 4px

.about__sci a:hover
  background: #f00

.fa
  color: #fff
  font-size: 20px

.quicLinks

  display: flex
  justify-content: start
  flex-direction: column

.quicLinks h3
  margin-bottom: 15px

.quicLinks a

  color: #999
  text-decoration: none
  margin-bottom: 10px
  display: inline-block

.quicLinks a:hover
  color: #fff
.contact
  display: flex
  justify-content: start
  flex-direction: column
.contact a
  color: #999
  text-decoration: none
  margin-bottom: 10px
  display: inline-block
.contact a:hover
  color: #fff

.span:nth-child(1)
  color: #fff
  font-size: 20px
  margin-bottom: 20px
.span
  color: #999
  margin-bottom: 20px
