.nav-bar
  display: flex
  justify-content: space-between
  align-items: center
  padding: 40px 0
  margin-bottom: 20px

.logo
  position: relative
  max-width: 80px

.menu__link
  color: #333
  font-weight: 400
  margin-left: 40px
  text-decoration: none
.hero
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 50px

.hero__text
  position: relative
  max-width: 600px
.hero__title
  color: #333
  font-size: 4em
  line-height: 1.4em
  font-weight: 500
.hero__title span
  color: #017143
  font-size: 1.2em
  font-weight: 900
.hero__subtitle
  color: #333

.button
  display: inline-block
  margin-top: 20px
  padding: 8px 20px
  background: #017143
  color: #fff
  border-radius: 40px
  font-weight: 500
  text-decoration: none
  letter-spacing: 1px

.ImgBox
  max-width: 340px
  background: url("../images/splash.svg") no-repeat center top /cover
  background-size: 100%

.starbucks

  width: 80%
.thumb
  position: relative
  left: 50%
  transform: translateX(-50%)
  display: flex
  justify-content: center
  margin-bottom: 50px
.thumb__img
  max-width: 60px
  display: inline-block
  margin: 0 20px
  cursor: pointer
  transition: 0.5s
.thumb__img:hover
  transform: translateY(-15px)
.header-sci
  position: relative
  top: 50%
  right: 30px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.header-sci a
  display: inline-block
  margin: 5px 0
  transform: scale(0.6)
@media ( max-width: 1200px )

  .header-sci
    position: absolute
    top: 50%
    transform: translateX(-50%)
    left: 60px
  .header-sci li a
    filter: invert(0)
  .ImgBox
    width: 600px
    display: flex
    justify-content: center
    padding-right: 50px
    margin-top: 50px
  .hero
    padding: 0 50px
@media ( max-width: 991px )

  .header-sci
    position: absolute
    top: 50%
    transform: translateX(-50%)
    left: 60px

  .ImgBox
    margin-bottom: 50px

  .starbucks
    width: 90%

  .hero
    padding: 0 30px
    flex-direction: column
  .hero__text
    position: relative
    width: 90%
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    margin-top: 50px
  .hero__title
    color: #333
    font-size: 2em
    line-height: 1.4em
    font-weight: 400
@media ( max-width: 762px )
  .container
    flex-direction: column
  .nav-bar

    padding: 0
    margin-left: 60px
    margin-top: 20px
    margin-bottom: 0
  .ImgBox
    width: 100%
    background-size: 80%
  .hero__text
    margin-bottom: 20px
  .header-sci,
  .nav__bar,
  .menu
    display: none
